@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}

#imagem-inicial{
    background-image: url(imagens/imagem\ do\ carro\ laranja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(40%);
    height: 650px;
}

#menu-inicial{
    background-color: rgba(0, 0, 0, 0.135);
    height: 40px;
}

#login-img,#search,#nome-usuario{
    display: inline-block;
    color: white;
}

#login-img{
    background-image: url(imagens/foto\ de\ perfil.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 8px 0px 0px 5px;
}

#nome-usuario{
    position: absolute;
    top: 13px;
    left: 45px;
}


#search{
    filter: grayscale(100%);
    font-size: 1.3em;
}

.button-search{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.button-search:hover{
    background-color: rgba(255, 255, 255, 0.429);
    transition: 0.5s;
}

#menu-selecao{
    display: flex;
    background-color: black;
    list-style-type: none;
}

button{
    color: whitesmoke;
    width: 100px;
    height: 30px;
    margin: 2px;
    background-color: black;
    border-top: 0;
    border-left: 0;
}

button:hover{
    background-color: rgb(54, 54, 54);
    transition: 0.3s;
}